body {
  background: peachpuff;
  color: red;
}

*{
  box-sizing: border-box;
}
// CARD FLIPPING

  .forecast {
    lost-column: 1/8 8 1em;
    height: 200px;
    margin-bottom: 1em;
    -webkit-perspective: 800;
    position: relative;
  }

.card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
  .card .face {
  padding: 1em;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
}
  .card .front {
  position: absolute;
  z-index: 1;
    background: lightblue;
    color: white;
    cursor: pointer;
}
  .card .back {
  -webkit-transform: rotatex(-180deg);
    background: white;
    color: lightblue;
    cursor: pointer;
}
